= bootstrap_form_for(appointment, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|
  .panel-body
    = f.text_field :street
    = f.text_field :postal_code
    = f.text_field :city
    = f.collection_select(:country_code, AppointmentsHelper::COUNTRY_OPTIONS, :first, :last, prompt: true)
    = f.datetime_field :date, prompt: true
  .panel-footer
    = f.submit 'Save', class: 'btn btn-primary'
