- @appointments.each do |appointment|
  .panel.panel-default
    .panel-heading.clearfix
      %h4{class: "panel-title pull-left", style: "padding-top: 7.5px;"}
        = appointment.subject
      .pull-right
        .btn-group
          = link_to 'Show', appointment_path(appointment), {class: 'btn btn-default btn-sm'}
          = link_to 'Edit', edit_appointment_path(appointment), {class: 'btn btn-default btn-sm'}
    .panel-body
      .col-md-3
        .row
          = l(appointment.date, format: :date_with_time)
      .col-md-3
        .row
          = appointment.street
        .row
          = appointment.postal_code
          = appointment.city
        .row
          = appointment.country_code
      - appointment.comments do |comment|
        .row
          = comment.text
